$snaly-c-white: #fff;
$snaly-c-black: #000;
$snaly-radius: 10px;
$snaly-radius--big: 20px;

$snaly_font_family: "Roboto", sans-serif;

@mixin setSize($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin boxAlign($h: center, $v: center) {
    $hProp: $h;

    @if $h == left {
        $hProp: flex-start;
    }

    @if $h == right {
        $hProp: flex-end;
    }

    display: flex;
    align-items: center;
    justify-content: $hProp;
}

@mixin quietButton() {
    padding: 0;

    @include allStates {
        border: none;
        outline: none;
        background-color: transparent;
    }
}

@mixin clickable {
    cursor: pointer;
}

@mixin withTransition() {
    transition-property: opacity, filter, transform;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
}

@mixin allStates() {
    &,
    &:active,
    &:disabled,
    &:visited,
    &:focus {
        @content;
    }
}
